<!-- Footer -->

        
      
      <!-- Footer -->
      <footer class="font-small bg-service-section-gb">
    

        <!-- Footer Links -->
        <div class="container">
      
          <!-- Grid row-->
          <div class="row text-center d-flex justify-content-center pt-5 mb-3">
      
            <!-- Grid column -->
            <div class="col-md-2 mb-3">
              <h6 class="text-uppercase font-weight-bold">
                <a href="about-us">About us</a>
              </h6>
            </div>
            <!-- Grid column -->
      
            <!-- Grid column -->
            <div class="col-md-2 mb-3">
              <h6 class="text-uppercase font-weight-bold">
                <a href="training-options">Training Options</a>
              </h6>
            </div>
            <!-- Grid column -->
      
            <!-- Grid column -->
            <div class="col-md-2 mb-3">
              <h6 class="text-uppercase font-weight-bold">
                <a href="#!">Blogs</a>
              </h6>
            </div>
            <!-- Grid column -->
      
            <!-- Grid column -->
            <div class="col-md-2 mb-3">
              <h6 class="text-uppercase font-weight-bold">
                <a href="contact-us">Help</a>
              </h6>
            </div>
            <!-- Grid column -->
      
            <!-- Grid column -->
            <div class="col-md-2 mb-3">
              <h6 class="text-uppercase font-weight-bold">
                <a href="contact-us">Contact</a>
              </h6>
            </div>
            <!-- Grid column -->
      
          </div>
          <!-- Grid row-->
          <hr class="rgba-white-light" style="margin: 0 15%;">
      
          <!-- Grid row-->
          <div class="row d-flex text-center justify-content-center mb-md-0 mb-4">
      
            <!-- Grid column -->
            <div class="col-md-8 col-12 mt-5">
              <p class="p-italic">
                    Qualitycodebase offers a comprehensive skills-building curriculum for Software Testing and QA training. Our curriculum teaches the critical skills necessary for all team members involved in the testing and QA process including quality Assurance Analysts,Software Engineers, Developers, 
                    Project Managers, Business Analysts, and IT Management. From the earliest stages of test planning to verification, validation and product release, our software testing training courses teach best practices through a brick–by–brick approach that allows your organization to keep pace with the sophistication of today’s software development.
                    The Software Testing training curriculum covers Test Processes and Procedures, Test Planning, Web Application Testing, Automated Testing, Software Project Management, Test Case Development, Unit or Integration Testing and System or Acceptance Testing. You will build essential skills and reinforce them with techniques and tools that will maximize your efficiency with your current projects
                  
            </div>
            <!-- Grid column -->
      
          </div>
          <!-- Grid row-->
          <hr class="clearfix d-md-none rgba-white-light">
      
        </div>
        <!-- Footer Links -->
           
        <div style="background-color: #55758f;">
            <div class="container">
        
              <!-- Grid row-->
              <div class="row py-4 d-flex align-items-center">
        
                <!-- Grid column -->
                <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
                  <h6 class="mb-0">Get connected with us on social networks!</h6>
                </div>
                <!-- Grid column -->
        
                <!-- Grid column -->
                <div class="col-md-6 col-lg-7 text-center text-md-right">
        
                  <!-- Facebook -->
                  <a class="fb-ic" href="https://www.facebook.com/qualitycodeb" target="_blank">
                    
                    <i class="fab fa-facebook-f white-text mr-4"></i>
                  </a>
                  <!-- Twitter -->
                  <a class="tw-ic">
                    <i class="fab fa-twitter white-text mr-4"> </i>
                  </a>
                  <!-- Google +-->
                  <a class="gplus-ic">
                    <i class="fab fa-google-plus-g white-text mr-4"> </i>
                  </a>
                  <!--Linkedin -->
                  <a class="li-ic">
                    <i class="fab fa-linkedin-in white-text mr-4"> </i>
                  </a>
                  <!--Instagram-->
                  <a class="ins-ic">
                    <i class="fab fa-instagram white-text"> </i>
                  </a>
        
                </div>
                <!-- Grid column -->
        
              </div>
              <!-- Grid row-->
        
            </div>
          </div>
        <!-- Copyright -->
        <div class="footer-copyright text-center py-3">© 2019 Copyright:
          <a href="https://qualitycodebase.com">www.qualitycodebase.com</a>
        </div>
        <!-- Copyright -->
      
      </footer>
      <!-- Footer -->