<!-- Main navigation -->
<header>
  
  <!-- Full Page Intro -->
  <div class="view" style="background-image: url('https://mdbootstrap.com/img/Photos/Others/architecture.jpg'); background-repeat: no-repeat; background-size: cover; background-position: center center;">
    <!-- Mask & flexbox options-->
    <div class="mask rgba-gradient d-flex justify-content-center align-items-center">
      <!-- Content -->
      <div class="container">
        <!--Grid row-->
        <div class="row">
          <!--Grid column-->
          <div class="col-md-6 white-text text-center text-md-left mt-xl-5 mb-5 wow fadeInLeft" data-wow-delay="0.3s">
            <h1 class="h1-responsive font-weight-bold mt-sm-5">Welcome to Qualitycodebase</h1>
            <hr class="hr-light">
            <h6 class="mb-4">We are here to assist in skill building and transform your company testing practices into the next level to meet standards.
              Qualitycodebase provides consultacy service including software quality improvment and resourcing.
            .</h6>
            <a class="btn btn-white">Services</a>
            <a class="btn btn-outline-white">Training Options</a>
          </div>
          
          <!--Grid column-->
          <!--Grid column-->
          <div class="col-md-6 col-xl-5 mt-xl-5 wow fadeInRight" data-wow-delay="0.3s">
            <img src="https://mdbootstrap.com/img/Mockups/Transparent/Small/admin-new.png" alt="" class="img-fluid">
          </div>
          <!--Grid column-->
        </div>
        <!--Grid row-->
      </div>
      <!-- Content -->
    </div>
    <!-- Mask & flexbox options-->
  </div>
  <!-- Full Page Intro -->
</header>
<!-- Main navigation -->
<!--Main Layout-->
<main>
    <div class="container">
      <div class="row">
          <div class="col">
              <div class="card">
                  <div class="card-header bg-primary text-white"><i class="fa fa-envelope"></i> Contact us.
                  </div>
                  <div class="card-body">
                      <form>
                          <div class="form-group">
                              <label for="name">Name</label>
                              <input type="text" class="form-control" id="name" aria-describedby="emailHelp" placeholder="Enter name" required>
                          </div>
                          <div class="form-group">
                              <label for="email">Email address</label>
                              <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter email" required>
                              <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                          </div>
                          <div class="form-group">
                              <label for="message">Message</label>
                              <textarea class="form-control" id="message" rows="6" required></textarea>
                          </div>
                          <div class="mx-auto">
                          <button type="submit" class="btn btn-primary text-right">Submit</button></div>
                      </form>
                  </div>
              </div>
          </div>
          <div class="col-12 col-sm-4">
              <div class="card bg-light mb-3">
                  <div class="card-header bg-success text-white text-uppercase"><i class="fa fa-home"></i> Address</div>
                  <div class="card-body">
                      <p>Silver Spring or Alexamderia Campus</p>
                      <p>Email : info@qualitycodebase.com</p>
                      <p>Tel. +1240-492-9603</p>
  
                  </div>
  
              </div>
          </div>
      </div>
  </div>
</main>
<!--Main Layout-->

<script type="text/javascript" language="javascript">
  new WOW().init();
</script>