<!-- Main navigation -->
<header>
  
  <!-- Full Page Intro -->
  <div class="view" style="background-image: url('https://mdbootstrap.com/img/Photos/Others/architecture.jpg'); background-repeat: no-repeat; background-size: cover; background-position: center center;">
    <!-- Mask & flexbox options-->
    <div class="mask rgba-gradient d-flex justify-content-center align-items-center">
      <!-- Content -->
      <div class="container">
        <!--Grid row-->
        <div class="row">
          <!--Grid column-->
          <div class="col-md-6 white-text text-center text-md-left mt-xl-5 mb-5 wow fadeInLeft" data-wow-delay="0.3s">
            <h1 class="h1-responsive font-weight-bold mt-sm-5 hd-text">About Qualitycodebase </h1>
            <hr class="hr-light">
            <h6 class="mb-4 hd-text">Qualitycodebase is an initiative by a group of QA professionals in the objective is to bridge the gap between the urgent need of the IT market and professionals who want to enter the intensively growing IT industry but do not have the relevant skill set. We have been through this a while ago; we know exactly what employers need and how to accelerate one's career development. 
                QCB Learning offers a short-term career change facility that allows interested professionals the opportunity to obtain positions such as Software Tester and Quality Assurance Analyst. We give you the knowledge basics and help you need to develop practical skills that are up to date and in great demand in today's market. Our instructors are full-time IT professionals in leading companies, who present the most progressive and proven techniques which are used in their everyday work.
              </h6>
          </div>
          <!--Grid column-->
          <!--Grid column-->
          <div class="col-md-6 col-xl-5 mt-xl-5 wow fadeInRight" data-wow-delay="0.3s">
            <img src="https://mdbootstrap.com/img/Mockups/Transparent/Small/admin-new.png" alt="" class="img-fluid">
          </div>
          <!--Grid column-->
        </div>
        <!--Grid row-->
      </div>
      <!-- Content -->
    </div>
    <!-- Mask & flexbox options-->
  </div>
  <!-- Full Page Intro -->
</header>
<!-- Main navigation -->
<!--Main Layout-->

<!--Main Layout-->

<script type="text/javascript" language="javascript">
  new WOW().init();
</script>